{% extends "layout.html.twig" %}

{% set active = 'termes-location' %}
{% set active_link = 'termes-location' %}
{% block page_title %} Termes de location {% endblock %}

{% block content %}
   
<main class="no-bg">
	<section id="termesLocation">
            <div class="container animated fadeIn">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <div class="row">
                        <h2>DUREE</h2>
                        <p>Le bail locatif consentie est de <strong>maximum 180 jours</strong>.</p>
                    </div>

                    <div class="row">
                        <h2>RESTITUTION</h2>
                        <p>La Restitution s’effectue à l’adresse du <strong>LOCATAIRE/emprunteur</strong>.</p>
                    </div>

                    <div class="row">
                        <h2>LES OBLIGATIONS DU LOCATAIRE/emprunteur – soin à apporter aux
                            œuvres .</h2>
                        <p>Le Locataire s’engage à prendre toutes les mesures raisonnables afin que l’oeuvre ne soit pas endommagée, volée ou qu’elle ne se détériore pas.</p>
                        <h3>I. ENVIRONNEMENT</h3>
                        <p>L’oeuvre d’art doit être protégée de la lumière directe du soleil, des conditions de chaleur ou de froid excessif, mais également de l’humidité. Elle ne doit pas être installée près d’appareils de chaleur, de points d’eau. </p>
                        <h3>II. ASSURANCE</h3>
                        <p>Le locataire /emprunteur s’engage à avoir souscrit à une assurance multirisque auprès de la compagnie d’assurance de son choix contre tout vol, perte ou dégradation. Une attestation sera exigée par le loueur. Cette attestation devra préciser couvrir « les dommages aux biens mobiliers ».</p>
                        <h3>III. RESPECT DE L’INTÉGRITÉ DES ŒUVRES</h3>
                        <p>ucune œuvre ne pourra être désencadrée ou modifiée durant sa location.</p>
                        <h3>IV. REPRODUCTION</h3>
                        <p>Il est strictement interdit de reproduire les œuvres de quelque manière que ce soit et à quelque fin que ce soit. </p>
                        <h3>V. CESSION SOUS-lOCATION</h3>
                        <p>Le locataire/emprunteur ne peut transférer le bénéfice de son contrat sans l’accord écrit du loueur. Le locataire/emprunteur s’engage donc à ne pas prêter les œuvres, à les maintenir dans le lieu prévu pour l’accrochage et dans l’usage pour lequel ils les loue.</p>
                        <h3>VI. CHANGEMENT DE SITUATION </h3>
                        <p>En cas de déménagement, le LOCATAIRE/emprunteur doit avertir le LOUEUR deux semaines avant les changements prévus. Le LOCATAIRE assume les frais supplémentaires impliqués par un déménagement s’il y avait lieu.</p>
                    </div>

                    <div class="row">
                        <h2>ENGAGEMENT DU LOUEUR</h2>
                        <p>En cas de vente d’une œuvre louée, le LOUEUR s’engage à remplacer la dite œuvre par une œuvre du même artiste équivalente en terme de dimension et de prix de location selon la possibilité de choix du LOCATAIRE.</p>
                    </div>

                    <div class="row">
                        <h2>CONSTAT D’ETAT</h2>
                        <p>Un constat d’état est fait à l’accrochage. Un constat d’état est fait au décrochage. Si des dégradations sont constatées, elles seront facturées. En cas de dommage le locataire/emprunteur doit prévenir sous 24h le loueur. En aucun cas il ne peut prendre l’initiative de sa restauration. Aucune œuvre ne pourra être désencadrée ou modifiée durant sa location.</p>
                    </div>

                    <div class="row">
                        <h2>TRANSPORT</h2>
                        <p>Les œuvres louées seront transportées et installées par les soins du LOUEUR.</p>
                    </div>

                    <div class="row">
                        <h2>PROPRIÉTÉ DES ŒUVRES – DROITS D’AUTEUR</h2>
                        <p>Les œuvres louées appartiennent aux différents Artistes (ou collectionneurs privés) en pleine propriété (droit d’auteur et propriété intellectuelle et ce pour le monde entier). Toute reproduction est strictement interdite.</p>
                    </div>

                    <div class="row">
                        <h2>ACQUISITION</h2>
                        <p>Selon leur disposition, les œuvres pourront être acquises par l’emprunteur/locataire à tout moment. Les sommes préalablement versées par l’acheteur pour leur location seront déduites à hauteur de 80% du prix d’achat initialement fixé.</p>
                    </div>

                    <div class="row">
                        <h2>RÉSILIATION</h2>
                        <p>En cas de manquement aux obligations de ce contrat celui-ci sera résiliable de plein droit par le loueur huit jours après l’envoi d’une mise en demeure restée sans effet. Dans cette éventualité le locataire/emprunteur devra restituer à ses frais et immédiatement au loueur, au lieu fixé par lui, les œuvres, en bon état. En cas de non restitution, le loueur engagera les poursuites nécessaires. </p>
                    </div>
            </div>
        </div>

    </section>
</main>
{% endblock %}
