<div class="mail">
    <p>Bonjour Guillaume,</p>

    <p>Vous avez reçu des demandes de la part de  {{ client.nom | upper}} {{ client.prenom }}</p>
    <p>Merci de vous rendre sur votre console d'administration</p>

</div>