<div class="mail">
<p>Bonjour,</p>
    <p>Votre demande a bien été prise en compte, nous revenons vers vous dans les plus brefs délais.
    Vous pouvez suivre l'avancée de votre commande sur votre profil</p>
</div>