{% extends 'base.html.twig' %}
{% block title 'Ajouter un produit' %}
{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un produit</h1>
        {% include 'admin/produit/_form.html.twig' %}
    </div>
{% endblock %}

