{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} > Accueil
{% endblock %}
{% block body %}
    <h1>Section : Accueil</h1>
    {% block home_body %}
    {% endblock %}
{%  endblock %}
