{% extends "layout.html.twig" %}
{% set active = 'admin_indispo' %}
{% set active_link = 'admin_indispo' %}
{% set current = app.request.get('p') %}
{% block page_title %} Oeuvres Indisponibles {% endblock %}

{% block content %}
    <main class="no-bg">
        <div class="container">
            <div class="row">
                {# Navigation de l'admin#}
                {% include "admin/adminComp/_navigation.html.twig" %}

                                <div class=" col-xs-12 col-md-8">

                                    <div class="content-box-header">
                                        <div class="panel-title titre-moncompte"><p>Vous avez {{ nbrNonDispoOeuvres }} oeuvre(s) indisponible(s) </p></div>
                                    </div>

                                    
                                    <div class="oeuvre content-box-large box-with-header">
                                        <div class="row">
                                           {% include 'tables/oeuvrestable.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.oeuvre_to_delete').click(function () {
                idOeuvreToDelete = $(this).attr('data_id');
                $deleteInput = $('#deleteModal').find("input[name='oeuvre_id']");
                $deleteInput.val(idOeuvreToDelete);
            })
        });
    </script>
{% endblock %}