{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} > Produits
{% endblock %}
{% block body %}
    <h1>Section : Produits</h1>
    {% block home_body %}
    {% endblock %}
{%  endblock %}
